<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      <h6>Dashboard</h6>
    </li>
  </ol>
</nav>
<h1>Welcome, <%= name %></h1>
<% if (stories.length) { %>
<p>Here is your stories</p>
<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
      <th scope="col">Date</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% stories.forEach(story => { %>
    <tr>
      <td><a href="/stories/<%= story._id %>"><%= story.title %></a></td>
      <td><%= story.status %></td>
      <td>
        <%- helper.formatDate(story.createdAt, 'MMMM Do YYYY, hh:mm:ss a') %>
      </td>
      <td>
        <a href="/stories/edit/<%= story._id %>" class="btn btn-warning"><i class="fas fa-edit"></i></a>
       <form class="d-inline-block" action="/stories/<%= story._id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
      </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<% } else { %>
<p>You haven't add any stories. Let's add the first one</p>
<% } %>
