<h1 class="mb-4">Edit Story</h1>

<form action="/stories/<%= story._id %>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <div class="mb-3">
    <label for="title" class="form-label">Title:</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      value="<%= story.title %>"
    />
  </div>
  <div class="mb-3">
    <label for="status" class="form-label">Status:</label>
    <select class="form-select" name="status" id="status">
      <% const options = ['public', 'private']; %>
      <% for (let i = 0; i < options.length; i++) { %>
        <option value="<%= options[i] %>" <%- options[i] === story.status ? 'selected' : '' %>><%= options[i] %></option>
      <% } %>
    </select>
  </div>
  <div class="mb-3">
    <label for="body" class="form-label">Tell us your story:</label>
    <textarea class="form-control" name="body" id="body">
      <%= story.body %> 
    </textarea>
  </div>
  <div class="mt-4">
    <button class="btn btn-primary" type="submit">Update</button>
    <a href="/dashboard" class="btn btn-secondary" type="button">Cancel</a>
  </div>
</form>
